
<div class="card">
   
   
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>City</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Department</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let employee of employees | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 3,
                                                      currentPage: page,
                                                      totalItems: totalRec },let i=index">


        <!-- <tr *ngFor="let employee of employees"> -->
            <td>{{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.city}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.dob}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.email}}</td>
            <td>
                
                <a class="btn text-danger" (click)="deleteEmployee(employee.id)">
                  <i class="fa fa-trash"></i>
                </a>
              
              
                <a class="btn" (click)="editEmployee(employee)">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
        </tr>
    </tbody>
</table>

<div class="pagination justify-content-end">
    <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>
</div>
